@{
    ViewData["Title"] = "About Project";
    Layout = "~/Views/Shared/myLayout.cshtml";
}


<div class="container">
    <div class="card-body cab1">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active mx-1" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    Project Details
                </button>
                <button class="nav-link mx-1" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    Devices
                </button>
                
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">@await Component.InvokeAsync("ProjectDetails")</div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">@await Component.InvokeAsync("Devices")</div>
        </div>
    </div>
</div>