@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<div class="container">

    <div class="h1 my-2">These devices are used:</div>

    <div class="row">
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">STM32F103C8T6</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"><img src="~/images/stm32f103c8t6.jpg" alt="stm32" class="img-thumbnail" /></div>
                        <div class="col-md-10">
                            <p>
                                The STM32F103C8T6 is a microcontroller based on the ARM Cortex-M3 architecture. It is widely used in various embedded applications due to its powerful features and flexibility. The microcontroller offers a wide range of peripherals and interfaces, including GPIO (General Purpose Input/Output) pins, timers, UART, SPI, I2C, and more
                            </p>

                            <p>
                                It is commonly used in projects requiring real-time control, such as robotics, industrial automation, and consumer electronics.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" card shadow mb-2">
            <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">WIZnet5500</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"><img src="~/images/w5500.jpg" alt="wiznet" class="img-thumbnail" /></div>
                        <div class="col-md-10">
                            <p>
                                The WIZnet5500 is an Ethernet controller chip that provides a convenient solution for adding Ethernet connectivity to embedded systems. It incorporates a TCP/IP (Transmission Control Protocol/Internet Protocol) stack and supports various network protocols, including TCP, UDP, IP, ARP, ICMP, and IGMP.
                            </p>

                            <p>
                                The WIZnet5500 enables embedded devices to connect to local area networks (LAN) or the internet, allowing them to communicate and exchange data with other networked devices. It is often utilized in applications such as IoT (Internet of Things), remote monitoring, and network-enabled industrial systems.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" card shadow mb-2">
            <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">TCS3200</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"><img src="~/images/tcs3200.jpg" alt="wiznet" class="img-thumbnail" /></div>
                        <div class="col-md-10">
                            <p>
                                The TCS3200 is a color sensor module that can detect and measure the intensity of different colors. It consists of an array of photodiodes and RGB (Red, Green, Blue) filters, allowing it to sense a wide range of colors. The module provides analog output corresponding to the color detected, and it can be interfaced with microcontrollers for further processing. The TCS3200 is commonly employed in applications like color recognition, color sorting machines, ambient light sensing, and display calibration.
                            </p>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" card shadow mb-2">
            <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">HC-SR04</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"><img src="~/images/HC-SR04.jpg" alt="wiznet" class="img-thumbnail" /></div>
                        <div class="col-md-10">
                            <p>
                                The HC-SR04 is an ultrasonic distance sensor module used for measuring distances between objects. It utilizes ultrasonic waves to determine the distance by measuring the time taken for the sound waves to travel and bounce back from the target.
                            </p>

                            <p>
                                The module consists of a transmitter and a receiver, and it can accurately measure distances in the range of a few centimeters to several meters. The HC-SR04 is widely applied in robotics, obstacle detection and avoidance systems, parking sensors, and other applications that require proximity sensing.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
