@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<div class="container">

    <div class="h1 my-2">These devices are used:</div>

    <div class="row mb-5">
        <div class=" card shadow mb-4">
            <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Header</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"><img src="~/images/stm32f103c8t6.jpg" alt="wiznet" class="img-thumbnail" /></div>
                        <div class="col-md-10">
                            <p>
                                itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa
                                itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa
                            </p>

                            <p>
                                item item item item item item item item item item item item item item item
                                item item item item item item item item item item item item item item item
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class=" card shadow mb-4">
            <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Header</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"><img src="~/images/stm32f103c8t6.jpg" alt="wiznet" class="img-thumbnail" /></div>
                        <div class="col-md-10">
                            <p>
                                itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa
                                itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa
                            </p>

                            <p>
                                item item item item item item item item item item item item item item item
                                item item item item item item item item item item item item item item item
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class=" card shadow mb-4">
            <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Header</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"><img src="~/images/stm32f103c8t6.jpg" alt="wiznet" class="img-thumbnail" /></div>
                        <div class="col-md-10">
                            <p>
                                itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa
                                itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa
                            </p>

                            <p>
                                item item item item item item item item item item item item item item item
                                item item item item item item item item item item item item item item item
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class=" card shadow mb-4">
            <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Header</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"><img src="~/images/stm32f103c8t6.jpg" alt="wiznet" class="img-thumbnail" /></div>
                        <div class="col-md-10">
                            <p>
                                itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa
                                itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa itemaa
                            </p>

                            <p>
                                item item item item item item item item item item item item item item item
                                item item item item item item item item item item item item item item item
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
