@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/myLayout.cshtml";
}
@model Entity.DbModel.MonitorShow

<div class="c1 d-flex justify-content-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 mt-5">
                <div id="RgbSection">
                    <div class="row d-flex justify-content-center ">
                        <div class="text-center h1">RGB Values</div>
                    </div>
                    <div class="row">
                        <div class="rgb-circle" style="width: 200px;height: 200px;">
                            <span id="redValue"></span>
                            <span id="greenValue"></span>
                            <span id="blueValue"></span>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <p class="rgb-text ">Red:<p class="rgb-text text-danger" id="_redValue"></p></p>
                        <p class="rgb-text ">Green:<p class="rgb-text text-danger" id="_greenValue"></p></p>
                        <p class="rgb-text ">Blue:<p class="rgb-text text-danger" id="_blueValue"></p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div id="DistanceSection">
                    <div class="row  d-flex justify-content-center">
                        <div class="text-center h1 ">Distance</div>
                    </div>
                    <div class="card d-flex justify-content-center  ">
                        <input type="range" class="form-range" min="0" max="100" id="distanceSlider">
                        <div class="card-body text-center">
                            @*<h5 class="card-title">Distance Sensor Data</h5>*@
                            <p class="card-text ">Distance: <span class="distance"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div id="DetailsSection">
                    <div class="row  d-flex justify-content-center">
                        <div class="text-center h1">Details</div>
                    </div>
                    <ul>
                        <li><p class="rgb-text" id="_distanceValue"></p></li>
                        <li><p class="rgb-text" id="_ipValue"></p></li>
                        <li><p class="rgb-text" id="_portValue"></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    if (!@Model.RgbSection.ToString().ToLower()) {
        $('#RgbSection').addClass('d-none');
    }
    if (!@Model.DistanceSection.ToString().ToLower()) {
        $('#DistanceSection').addClass('d-none');
    }
    if (!@Model.DetailsSection.ToString().ToLower()) {
        $('#DetailsSection').addClass('d-none');
    }
</script>


<script>
    function updateSensorData() {
        if (@Model.RgbSection.ToString().ToLower()
                && @Model.DistanceSection.ToString().ToLower()
                && @Model.DetailsSection.ToString().ToLower()) {
            $.ajax({
                url: '/monitor/sensor/demo',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $("#_redValue").text(data["red"]);
                    $("#_greenValue").text(data["green"]);
                    $("#_blueValue").text(data["blue"]);
                    $("#_distanceValue").text("Distance(cm): " + data["distance"]);
                    $("#_ipValue").text("Server Address: " + data["ipAddress"]);
                    $("#_portValue").text("Port: " + data["port"]);
                    $("#distanceSlider").val(data["distance"] * 2.5);
                    $('.rgb-circle').css('background-color', data["biggest"]);
                    $('span.distance').text(data["distance"] + " cm");
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    }

    $(document).ready(function () {
        updateSensorData();
        setInterval(function () {
            updateSensorData();
        }, 2000);
    });
</script>
