
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Website @DateTime.Now.Year.ToString()</span>
        </div>
    </div>
</footer>
