@using DataAccesss.Abstract
@using Entity.DbModel
@inject ILoginDal tokenService;
@{
    User LoginUser = tokenService.GetLoginUser().GetAwaiter().GetResult() ?? new Entity.DbModel.User() { isAdmin = false };
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary topbar mb-4 static-top shadow ">
    <div class="container">

        <a class="navbar-brand" href="/Home">MuhTas-2</a>

        @if (LoginUser.Id > 0)
        {
            <ul class="navbar-nav">
            </ul>
        }
        <button class="navbar-toggler" type="button" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarNav" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white my-2" href="/Home/About">About Project</a>
                </li>
                @if (LoginUser.Id > 0)
                {
                    <li class="nav-item"><a class="nav-link text-white my-2" href="/Home/Settings">Settings</a></li>
                    <li class="nav-item"><a class="nav-link text-white my-2" href="/User/EditProfile">@LoginUser.FirstName @LoginUser.LastName[0] edit</a></li>
                    <li class="nav-item"><a class="nav-link text-white my-2" onclick="confirmLogout()">Logout</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link text-white my-2" href="/Login/Index"> <i class="fas fa-door-open pe-2 mx-2"></i>Login</a></li>
                }
            </ul>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<script>
    function confirmLogout() {
        swal({
            title: "Çıkış Yap",
            text: "Çıkış yapmak istediğinize emin misiniz?",
            icon: "warning",
            buttons: ["Vazgeç", "Evet"],
            dangerMode: true,
        })
            .then((confirmed) => {
                if (confirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/Logout/",
                        success: function (data) {
                            swal("İşlem Tamamlandı", "Çıkış işlemi başarıyla tamamlandı.", "success")
                                .then(() => {
                                    window.location.href = "/home/index";
                                });
                        },
                        error: function () {
                            swal("Hata", "Çıkış işlemi gerçekleştirilemedi.", "error");
                        }
                    });
                }
            });
    }
</script>